data/
__pycache__
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
.ipynb_checkpoints/
*.tfstate
*.tfstate.*
**.terraform*
**.terraform.lock.*
**google_credentials.json
yelp-pipeline-project*.json
**.env